.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.addForm {
  width: 300px;
  margin: 20px auto 0 auto;
}

.theaterCard {
  margin-top: 40px;
}

.movieList {
  margin-top: 30px;
  display: flex;
  gap: 50px;
}

.cardImage {
  object-fit: "contain";
  border-radius: 55;
  height: 350px;
}

.bookingMovieHeading {
  width: 500px;
  margin: 30px auto 20px auto;
}

.seats {
  width: 800px;
  margin: 10px auto;
}

.seats svg:hover {
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
